.mainheader
 =render partial: 'shared/header'
.mainheader_carousel
 =render partial: 'shared/top-carousel'
%section.pickup-container
 =render partial: 'shared/body'
.main_footer
 =render partial: 'shared/footer'